
  html {
    scroll-behavior:smooth;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background:#7ebfeb;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #51b1f1;
    border-radius: 5px;
  }
  
  body {
    margin: 0;
    height: 100%;
  }
  
  h1 {
    font-size: 50pt;
  }
  
  h2 {
    font-size: 35px;
  }
  
  label {
    float: left;
  }
  
  input {
    padding-top: 5px;
    font-size: 20px;
    width: 25vw;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #6E297B;
  }
  
  button {
    cursor:pointer;
  }
  
  a {
    color: inherit;
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:hover {
    color: #FFDD17;
  }
  
  a:active {
    color: #FFDD17;
  }
  
  .error {
    display: none;
    color: red;
    text-align: center;
    margin: 0;
  }
  
  .success {
    display: none;
    color: #4BB543;
    text-align: center;
    margin: 0;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .logo-nav {
    float: left;
    width: 5%;
    margin: 5px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .logo-text {
    float: left;
    width: 35%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  
  .topnav {
    top: 0;
    background-color: #6E297B;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 16px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #713c7c;
    padding-bottom: 18px;
  }
  
  .topnav a.active {
    background-color: #580b68;
  }
  
  .center-text{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .submitBtn {
    font-size: 20px;
    width: 25vw;
    height:4vh;
    border-radius: 5px;
    background-color: #1C4C96;
    border:  none;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .backBtn {
    font-size: 20px;
    font-weight: bold;
    width: 25vw;
    height:4vh;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 3px solid #1C4C96;
    color: #1C4C96;
    margin-bottom: 10px;
  }
  
  .icon {
    position: relative;
    top: 5px;
    padding-right: 15px;
  }
  
  .navBar {
    background-color: #6E297B;
    width: 15vw;
    height: 100vh;
    color: #FFFFFF;
    align-items: center;
  }
  
  .navBar-contents {
    font-size: large;
    margin-left: 2vw;
    margin-top: 1vw;
    line-height: 2.5;
    vertical-align: middle;
    align-items: center;
  }

  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
  }
  
  .btn-primary{
    background-color: #1C4C96;
  }
  
  .btn-primary:hover{
    background-color: #6E297B;
  }
  
  .card{
    width: 18rem;
    height: 20rem;
  }
  input {
    width: 70%;
    padding: 12px;
    margin: 1px 0;
    box-sizing: border-box;
  }

  #accountSettings {
    display:flex;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded slider */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

