body { 
  min-height: 100% 
}

.container {
    height:100vh;
    display: flex;
    flex-wrap: wrap;
}
.container h2 {
    font-weight: 60%;
    padding-bottom: 5%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}


table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table td {
  padding: .625em;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: left;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }

  .btns {
    margin: 1%;
  }
}

#active {
    background-color: red;
    color: white;
}
#dashboard {
    display:flex;
    background-color: #F3F6F4;
  }
span {
    float: right;
}

.options {
    width: 900px;
}

  #emer-contact {
    color: #1C4C96;
    font-weight: bold;
  }

  div .contact {
    margin-top: 5%;
    margin-left: 2%;
    height: auto;
    width: 400px;
    border: 2px solid black;
    background: white;
  }
