.container {
    padding-top: 5%;
    padding-left: 5%;
}
.container h2 {
    font-weight: 60%;
    padding-bottom: 5%;
}
table td{
    border: 1px solid black;
    width: 800px;
}

#active {
    background-color: red;
    color: white;
}
#dashboard {
    display:flex;
  }
span {
    float: right;
}

.options {
    width: 900px;
}

  #emer-contact {
    color: #1C4C96;
  }

  div .contact {
    margin-top: 5%;
    margin-left: 2%;
    height: auto; 
    width: 400px;
    border: 2px solid black;
  }
  