@keyframes redflash {
    to {
        background-color: #FFCDD2;
    }
}

@keyframes greenflash {
    to {
        background-color: #84ff88;
    }
}

.red {
    animation: redflash 0.25s 2 alternate ease-out;
}

.green {
    animation: greenflash 0.25s 2 alternate ease-out;
}

.pagination a {
    color: #007BFF;
    padding: 8px 16px;
    transition: background-color .3s;
    background-color: rgb(255, 255, 255);
    border: 1px solid #E9ECEF;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.incidentTiles {
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.incidentTile {
    display: none;
    border: 1px solid #004C9B;
    border-radius: 5px;
    width: 50vw;
    height: 20vh;
    margin-bottom: 3vh;
    overflow: hidden;
}

.incidentContents {
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.incidentTitle {
    font-size: 20px;
    font-weight: bold;
    color: #343A40;
    margin-top: 1vh;
}

.date {
    margin-top: 0;
    color: #868E96;
    margin-bottom: 1vh;
}

.description {
    margin-bottom: 1vh;
    overflow: hidden;
    white-space: wrap;
}

.details {
    color: #007BFF;
}

.reject {
    float: right;
    background-color: #DC3545;
    border: none;
    width: 75px;
    height: 20px;
    border-radius: 5px;
    margin-right: 5px;
    color: #FFFFFF;
    position: relative;
}

.approve {
    float: right;
    background-color: #38DC35;
    border: none;
    width: 75px;
    height: 20px;
    border-radius: 5px;
    color: #FFFFFF;
}

.incidentDetails {
    width: 40vw;
    height: 30vh;
    overflow: auto;
}

#reportedIncidents {
    display: flex;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .incidentTile {
        width: 70vw;
    }

    .incidentTitle {
        margin-top: 0vh;
    }

    .description {
        margin-bottom: 0vh;
    }
    
    .date {
        margin-bottom: 0vh;
    }

    .reject {
        width: 60px;
        height: 15px;
    }

    .approve {
        width: 60px;
        height: 15px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .incidentTile {
        height: 20vh;
    }

    .incidentTitle {
        margin-top: 0vh;
    }

    .description {
        margin-bottom: 0vh;
    }

    .date {
        margin-bottom: 0vh;
    }

    .reject {
        width: 60px;
        height: 20px;
    }

    .approve {
        width: 60px;
        height: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .description {
        margin-bottom: 0vh;
    }

    .date {
        margin-bottom: 0vh;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1500px) {
    .description {
        margin-bottom: 0vh;
    }

    .date {
        margin-bottom: 0vh;
    }
}