#map {
    padding-left: 100px;
    height: 800px;
    width: 1000px;
}

#legend {
    width: 200px;
    height: 200px;
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
    vertical-align: center;
}

#mapPage {
    display: flex;
}

html {
    scroll-behavior: smooth;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: #7ebfeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #51b1f1;
    border-radius: 5px;
}

body {
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 50pt;
}

h2 {
    font-size: 35px;
}

label {
    float: left;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:hover {
    opacity: 75%;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    transition: background-color .3s;
    background-color: rgb(228, 228, 228);
    border: 1px solid #888;
}

.pagination a.active {
    background-color: rgb(65, 159, 253);
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.error {
    display: none;
    color: red;
    text-align: center;
    margin: 0;
}

.success {
    display: none;
    color: #4BB543;
    text-align: center;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    overflow-y: hidden;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.logo-nav {
    float: left;
    width: 5%;
    margin: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.logo-text {
    float: left;
    width: 35%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.topnav {
    top: 0;
    background-color: #6E297B;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 16px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #713c7c;
    padding-bottom: 18px;
}

.topnav a.active {
    background-color: #580b68;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.submitBtn {
    font-size: 20px;
    width: 25vw;
    height: 4vh;
    border-radius: 5px;
    background-color: #1C4C96;
    border: none;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 10px;
}

.backBtn {
    font-size: 20px;
    font-weight: bold;
    width: 25vw;
    height: 4vh;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 3px solid #1C4C96;
    color: #1C4C96;
    margin-bottom: 10px;
}

.icon {
    position: relative;
    top: 5px;
    padding-right: 15px;
}

.navBar {
 
    background-color: #580B68;
    width: 15vw;
    height: 100vh;
    color: #FFFFFF;
    align-items: center;
}

.navBar a:hover {
    color: #FFDD17;
}

.navBar a:active {
    color: #FFDD17;
}

.navBar-contents {
    font-size: large;
    margin-left: 2vw;
    margin-top: 1vw;
    line-height: 2.5;
    vertical-align: middle;
    align-items: center;
}

.input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.button {
    background-color: #1C4C96;
    /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button:hover {
    background-color:#6E297B;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
    #map {
        padding-left: 10px;
        height: 300px;
        width: 250px;
    }
    #legend {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #map {
        padding-left: 10px;
        height: 300px;
        width: 250px;
    }
    #legend {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #map {
        padding-left: 10px;
        height: 600px;
        width: 450px;
    }
    #legend {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1500px) {
    #map {
        padding-left: 10px;
        height: 800px;
        width: 1000px;
    }
}